/node_modules
/public/build
/public/hot
/public/usuarios
/public/chats
/public/grupos
/public/cursos
/public/tareas
/public/preguntas
/storage/app/usuarios
/storage/app/chats
/storage/app/grupos
/storage/app/cursos
/storage/app/tareas
/storage/app/preguntas
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/nbproject/private/
.vercel
