#contenedor {
    --padding: 1.25rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

table {
    width: 100% !important;
}

#table-mi-desempeno_filter {
    display: grid !important;
    place-content: end !important;
    padding-bottom: 1rem !important;
}

#table-mi-desempeno_filter input {
    width: 560px !important;
    height: 2rem !important;
}

@media (max-width:660px) {
    #table-mi-desempeno_filter input {
        width: 500px !important;
        height: 2rem !important;
    }
}

@media (max-width:560px) {
    #table-mi-desempeno_filter input {
        width: 400px !important;
        height: 2rem !important;
    }
}

@media (max-width:460px) {
    #table-mi-desempeno_filter input {
        width: 300px !important;
        height: 2rem !important;
    }
}

@media (max-width:360px) {
    #table-mi-desempeno_filter input {
        width: 200px !important;
        height: 2rem !important;
    }
}

#table-mi-desempeno_paginate {
    display: grid !important;
    place-content: center !important;
}

.span-detalle {
    cursor: pointer;
}