#fondo {
    background-image: url('https://placeimg.com/1280/720/nature');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

}

.fuente {
    font-family: 'Albert Sans', sans-serif;
}

.frase{
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.titulo{
    font-size: 2rem;
    color: white;
}

#cuerpo {
    background: rgba(0,0,0,0.7);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(25,25,25,0.7) 100%);
}

@media (max-width: 575px){
    .padding{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
