.fuente {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
}

#caja-cancion{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

#video-frame{
    filter: brightness(85%);
    padding-left: 0px !important;
    padding-right: 0px !important;
}
